{% extends "base_site.html" %}
{% block content %}
{% load static %}

<section class="mt-5">
    <div class="container">
      <h2>Quem Somos</h2>
      <p>Aenean quis sem consectetur, placerat sem in, laoreet est. Morbi ullamcorper diam turpis, ac faucibus mauris finibus quis. Aliquam cursus ante eget risus mattis, nec semper dolor convallis.</p>
  </section>

  <section class="mt-5">
    <div class="container">
      <h2>Parceiros</h2>
      <p>Aenean quis sem consectetur, placerat sem in, laoreet est. Morbi ullamcorper diam turpis, ac faucibus mauris finibus quis. Aliquam cursus ante eget risus mattis, nec semper dolor convallis.</p>
  </section>

{% endblock %}